<ion-header>
  <ion-toolbar>
    <ion-title>logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-around">
    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Are you sure you want to log out?
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button color="danger" (click)="logout()">Logout</ion-button>
          <ion-button color="primary" [routerLink]="['/home']">Return</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>