<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 *ngIf="error">{{ error }}</h1>
  <ion-row *ngIf="comics" class="ion-justify-content-around ion-margin-top">
    <ion-col *ngFor="let comic of comics" size="12" size-md="4" size-lg="2">
      <ion-card [routerLink]="['/comic/', comic.id]">
        <img src="{{ url + 'comic/' + comic.id + '/image' }}" alt="{{ comic.name }}">
        <ion-card-header>
          <ion-card-title>{{ comic.name }}</ion-card-title>
          <ion-card-subtitle>Author: {{ comic.author }}</ion-card-subtitle>
          <ion-item lines="none">
            <ion-label>NSFW</ion-label>
            <ion-checkbox checked="{{ comic.nsfw }}" disabled="true" color="danger" slot="start"></ion-checkbox>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>